@charset "utf-8";

/*
 * File : about.css
 * SUMMARY:
 * 1) About txt
 * 2) Profile
 * 3) About Info
 * 4) Biography
 * 5) Skill
*/


/* ---- About txt ---- */

#about-txt-wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
}
#about-txt-wrap h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
#about-txt-wrap p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}
#about-txt-wrap p span {
    font-weight: 600;
    font-size: 18px;
}



/* ---- Profile ---- */

#profile-wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile-wrap .profile-img {
    width: 300px;
    margin-right: 20px;
}
#profile-wrap .profile-img img {
    width: 100%;
}
#profile-wrap .profile-info {
    width: 400px;
    padding: 20px 30px;
    border: 1px solid var(--line-color);
    border-radius: 12px;
}
#profile-wrap .profile-info li {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
#profile-wrap .profile-info li h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--by-purple);
    margin-bottom: 15px;
}
#profile-wrap .profile-info li span {
    color: var(--by-purple);
    font-weight: 500;
}



/* ---- About Info ---- */

#about-info-wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: start;
}


/* ---- Biography ---- */

#biography-wrap {
    width: 50%;
    padding: 30px 0;
    display: flex;
    align-items: start;
}

#biography-wrap h2 {
    font-size: 38px;
    font-weight: 600;
    color: var(--by-blue);
    margin-right: 80px;
}
#biography-wrap .bio-list li {
    padding: 10px 5px;
    display: flex;
    border-top: 1px dashed var(--line-color);
}
#biography-wrap .bio-list li:first-child {
    padding-top: 0;
    border-top: 0;
}
#biography-wrap .bio-list li h5 {
    width: 100px;
    font-size: 16px;
    color: var(--sub-txt);
}
#biography-wrap .bio-list li p {
    font-size: 16px;
}





/* ---- Skill ---- */

#skill-wrap {
    width: 50%;
    padding: 30px 0;
    display: flex;
    align-items: start;
}

#skill-wrap h2 {
    font-size: 38px;
    font-weight: 600;
    color: var(--by-blue);
    margin-right: 80px;
}
#skill-wrap .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#skill-wrap .skill-list li {
    width: 28%;
    margin-bottom: 15px;
}
#skill-wrap .skill-list li img {
    width: 100%;
}





