@charset "utf-8";

/*
 * File : about.css
 * SUMMARY:
 * 1) About txt
 * 2) Profile
*/


/* ---- About txt ---- */

#about-txt-wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-txt-wrap h2 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}
#about-txt-wrap p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}
#about-txt-wrap p span {
    font-weight: 600;
    font-size: 18px;
}



/* ---- Profile ---- */

#profile-wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
}
#profile-wrap .profile-img {
    width: 500px;
    margin-right: 20px;
}
#profile-wrap .profile-img img {
    width: 100%;
}
#profile-wrap .profile-info li {
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}
#profile-wrap .profile-info li span {
    color: var(--by-purple);
    font-weight: 500;
}






