@charset "utf-8";

/*
 * File : hobbie.css
 * SUMMARY:
 * 1) Hobbie List
*/



/* ---- hobbie List ---- */

#hobbie-list-wrap {
    width: 1440px;
    margin: 0 auto;
    padding: 30px 0;
}

#hobbie-list-wrap .txt-box {}
#hobbie-list-wrap .txt-box p {
    font-size: 14px;
    font-weight: 500;
    color: var(--sub-txt);
    margin-top: 15px;
}


#hobbie-list-wrap .hob-list {
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#hobbie-list-wrap .hob-list .hob-cont {
    width: 30%;
    margin-bottom: 45px;
}
#hobbie-list-wrap .hob-list .hob-cont a {
    width: 100%;
    height: 100%;
}

#hobbie-list-wrap .hob-list .hob-cont iframe {
    display: block;
    width: 100%;
    height: 40%;
}
#hobbie-list-wrap .hob-list .hob-cont .txt-box {}
#hobbie-list-wrap .hob-list .hob-cont .txt-box h3 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}
#hobbie-list-wrap .hob-list .hob-cont .txt-box span {
    font-size: 14px;
    color: var(--sub-txt);
    margin-top: 7px;
}
#hobbie-list-wrap .hob-list .hob-cont .txt-box p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 7px;
}



